<div class="product-card">
  <img src="{{imageUrl}}" />
  <a href="/products/order/{{id}}" class="button product-title">Order</a>
  <a href="/admin/product/edit/{{id}}" class="control"><img class="control-img" src="/img/edit.png"></a>
	<a href="/admin/product/delete/{{id}}" class="control"><img class="control-img" src="/img/delete.png"></a>
</div>