<h1>Login</h1>
{{#if error}}
  <span class="error">{{error}}</p>
{{/if}}
<form action="/users/login" method="POST">
  Username
  <input type="text" name="username" value="{{userData.username}}" />
  <br />
  Password
  <input type="password" name="password" />
  <br />
  <input type="submit" value="Login" />
</form>